{
    "presets": [
        ["env", {
            "targets": {
                "browers": [
                    "last 5 version",
                    "ie >= 8"
                ]
            }
        }]
    ]
}